[submodule "Module-AuBase/Module-AuGsonMMKV"]
	path = Module-AuBase/Module-AuGsonMMKV
	url = https://github.com/jzlhll/AndroidModule-AuGsonMMKV.git
[submodule "Module-AuBase/Module-AuKson"]
	path = Module-AuBase/Module-AuKson
	url = https://github.com/jzlhll/AndroidModule-AuKson.git
[submodule "Module-AuBase/Module-AuSimplePermission"]
	path = Module-AuBase/Module-AuSimplePermission
	url = https://github.com/jzlhll/AndroidModule-AuSimplePermission.git
[submodule "Module-AuBase/Module-AndroidCommon"]
	path = Module-AuBase/Module-AndroidCommon
	url = https://github.com/jzlhll/AndroidModule-AuCommon.git
